{% extends "base.html" %} {% block title %}Cover Letter Generator{% endblock %}

{% block content %}
<h1>Hi I created a Cover Letter Generator</h1>
<h3> Fill out This forum</h3>
<form method="POST">
    <div class="row g-3">
        
        <div class="col">
          <input type="text" class="form-control" placeholder="Date" aria-label="Date" name="Date">
          <br>
          <input type="text" class="form-control" placeholder="Company" aria-label="Company Name" name="Company">
          <br>
          <input type="text" class="form-control" placeholder="Location" aria-label="Company Address" name="Location">
          <br>
          <input type="text" class="form-control" placeholder="City" aria-label="City, State/Province" name="City">
          <br>
          <input type="text" class="form-control" placeholder="Jobtitle" aria-label="Job Title" name="Jobtitle">
        </div>
       
        
      </div>
    <h3> Paste Job Description here!</h3>
    <textarea name = "coverletter" id="coverletter" class="form-control"></textarea>
    <div align="center">
        <button type="submit" class="btn btn-primary">Generate</button>
    </div>
    
    
      
</form>

{% endblock %}